# Application
NODE_ENV=development

# URL Shortener
# Use port 5173 for development, 3000 for production (docker)
PUBLIC_URL=http://localhost:5173

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/urlshortener
